Repository Azure/ALZ-PowerShell-Module, pull requests merged in 2024-10, with the labels that each got.

#202 feat: remove ui support
  .gitignore
  CONTRIBUTING.md
  docs/wiki/[User-Guide]-Quick-Start-Phase-2-Azure-DevOps.md
  docs/wiki/[User-Guide]-Quick-Start-Phase-2-GitHub.md
  docs/wiki/[User-Guide]-Quick-Start-Phase-2-Local.md
  docs/wiki/[User-Guide]-Quick-Start-Phase-3.md
  docs/wiki/[User-Guide]-Starter-Module-Bicep-Complete.md
  docs/wiki/_Sidebar.md
  docs/wiki/examples/powershell-inputs/inputs-azure-devops-bicep-complete.yaml
  docs/wiki/examples/powershell-inputs/inputs-azure-devops-terraform-basic.yaml
  docs/wiki/examples/powershell-inputs/inputs-azure-devops-terraform-complete-multi-region.yaml
  docs/wiki/examples/powershell-inputs/inputs-azure-devops-terraform-complete-vnext.yaml
  docs/wiki/examples/powershell-inputs/inputs-azure-devops-terraform-complete.yaml
  docs/wiki/examples/powershell-inputs/inputs-azure-devops-terraform-hubnetworking.yaml
  docs/wiki/examples/powershell-inputs/inputs-github-bicep-complete.yaml
  docs/wiki/examples/powershell-inputs/inputs-github-terraform-basic.yaml
  docs/wiki/examples/powershell-inputs/inputs-github-terraform-complete-multi-region.yaml
  docs/wiki/examples/powershell-inputs/inputs-github-terraform-complete-vnext.yaml
  docs/wiki/examples/powershell-inputs/inputs-github-terraform-complete.yaml
  docs/wiki/examples/powershell-inputs/inputs-github-terraform-hubnetworking.yaml
  docs/wiki/examples/powershell-inputs/inputs-local-bicep-complete.yaml
  docs/wiki/examples/powershell-inputs/inputs-local-terraform-basic.yaml
  docs/wiki/examples/powershell-inputs/inputs-local-terraform-complete-multi-region.yaml
  docs/wiki/examples/powershell-inputs/inputs-local-terraform-complete-vnext.yaml
  docs/wiki/examples/powershell-inputs/inputs-local-terraform-complete.yaml
  docs/wiki/examples/powershell-inputs/inputs-local-terraform-hubnetworking.yaml
  src/ALZ/Private/Config-Helpers/Convert-BicepConfigToInputConfig.ps1
  src/ALZ/Private/Config-Helpers/Convert-HCLVariablesToInputConfig.ps1
  src/ALZ/Private/Config-Helpers/Convert-HCLVariablesToUserInputConfig.ps1
  src/ALZ/Private/Config-Helpers/Convert-InterfaceInputToUserInputConfig.ps1
  src/ALZ/Private/Config-Helpers/Convert-ParametersToInputConfig.ps1
  src/ALZ/Private/Config-Helpers/Get-ALZConfig.ps1
  src/ALZ/Private/Config-Helpers/Request-ALZEnvironmentConfig.ps1
  src/ALZ/Private/Config-Helpers/Request-ConfigurationValue.ps1
  src/ALZ/Private/Config-Helpers/Request-SpecialInput.ps1
  src/ALZ/Private/Config-Helpers/Set-ComputedConfiguration.ps1
  src/ALZ/Private/Config-Helpers/Set-Config.ps1
  src/ALZ/Private/Config-Helpers/Write-ConfigurationCache.ps1
  src/ALZ/Private/Config-Helpers/Write-JsonFile.ps1
  src/ALZ/Private/Config-Helpers/Write-TfvarsJsonFile.ps1
  src/ALZ/Private/Deploy-Accelerator-Helpers/Get-BootstrapAndStarterConfig.ps1
  src/ALZ/Private/Deploy-Accelerator-Helpers/Invoke-FullUpgrade.ps1
  src/ALZ/Private/Deploy-Accelerator-Helpers/New-Bootstrap.ps1
  src/ALZ/Private/Legacy-Bicep/Add-AvailabilityZonesBicepParameters.ps1
  src/ALZ/Private/Legacy-Bicep/Build-ALZDeploymentEnvFile.ps1
  src/ALZ/Private/Legacy-Bicep/Copy-ALZParametersFile.ps1
  src/ALZ/Private/Legacy-Bicep/New-ALZDirectoryEnvironment.ps1
  src/ALZ/Private/Legacy-Bicep/New-ALZEnvironmentBicep.ps1
  src/ALZ/Private/Legacy-Bicep/Test-ALZGitRepository.ps1
  src/ALZ/Private/Tools/Get-HCLParserTool.ps1
  src/ALZ/Public/New-ALZEnvironment.ps1
  src/PSScriptAnalyzerSettings.psd1
  src/Tests/Unit/Private/Add-AvailabilityZonesBicepParameters.Tests.ps1
  src/Tests/Unit/Private/Build-ALZDeploymentEnvFile.Tests.ps1
  src/Tests/Unit/Private/Edit-ALZConfigurationFilesInPlace.Tests.ps1
  src/Tests/Unit/Private/New-ALZDirectoryEnvironment.Tests.ps1
  src/Tests/Unit/Private/Request-ConfigurationValue.Tests.ps1
  src/Tests/Unit/Private/Set-ComputedConfiguration.Tests.ps1
  src/Tests/Unit/Private/Set-Config.Tests.ps1
  src/Tests/Unit/Public/New-ALZEnvironment.Tests.ps1
Labels: major

#217 docs: add microsoft cloud for sovereignty
  docs/wiki/[User-Guide]-Quick-Start-Phase-2-Azure-DevOps.md
  docs/wiki/[User-Guide]-Quick-Start-Phase-2-GitHub.md
  docs/wiki/[User-Guide]-Quick-Start-Phase-2-Local.md
  docs/wiki/[User-Guide]-Starter-Module-Terraform-Microsoft-Cloud-For-Sovereignty.md
  docs/wiki/_Sidebar.md
  docs/wiki/examples/powershell-inputs/inputs-azure-devops-terraform-microsoft-cloud-for-sovereignty.yaml
  docs/wiki/examples/powershell-inputs/inputs-github-terraform-microsoft-cloud-for-sovereignty.yaml
  docs/wiki/examples/powershell-inputs/inputs-local-terraform-microsoft-cloud-for-sovereignty.yaml
  docs/wiki/media/starter-module-microsoft_cloud_for_sovereignty.png
Labels: Needs: Author Feedback :ear:

#234 chore: pull request labeller
  .github/labeler.yml
  .github/workflows/pr-labeler.yml
Labels: Needs: Triage :mag:

#233 docs: fixed some minor typos in upgrade-guide
  docs/wiki/Upgrade-Guide.md
Labels: Needs: Triage :mag:

#235 feat: add submodule support
  src/ALZ/Private/Deploy-Accelerator-Helpers/New-Bootstrap.ps1
Labels: minor
