Repository Azure/ALZ-PowerShell-Module, pull requests merged in 2024-09, with the labels that each got.

#176 hygeine: Triage policies
  .github/policies/resourceManagement.yml
  .github/workflows/pr-title-check.yml
Labels: Type: Hygiene :broom:

#181 fix: Remove unneeded policies
  .github/policies/resourceManagement.yml
Labels: auto-merge :heavy_check_mark:, Type: Hygiene :broom:

#182 feat: improvements to inputs and region validation
  .github/linters/.markdown-lint.yml
  CONTRIBUTING.md
  docs/wiki/Frequently-Asked-Questions.md
  docs/wiki/[User-Guide]-Quick-Start-Phase-2-Azure-DevOps.md
  docs/wiki/[User-Guide]-Quick-Start-Phase-2-GitHub.md
  docs/wiki/examples/powershell-inputs/inputs-azure-devops-bicep-complete.yaml
  docs/wiki/examples/powershell-inputs/inputs-azure-devops-terraform-basic.yaml
  docs/wiki/examples/powershell-inputs/inputs-azure-devops-terraform-complete-vnext.yaml
  docs/wiki/examples/powershell-inputs/inputs-azure-devops-terraform-complete.yaml
  docs/wiki/examples/powershell-inputs/inputs-azure-devops-terraform-hubnetworking.yaml
  docs/wiki/examples/powershell-inputs/inputs-github-bicep-complete.yaml
  docs/wiki/examples/powershell-inputs/inputs-github-terraform-basic.yaml
  docs/wiki/examples/powershell-inputs/inputs-github-terraform-complete-vnext.yaml
  docs/wiki/examples/powershell-inputs/inputs-github-terraform-complete.yaml
  docs/wiki/examples/powershell-inputs/inputs-github-terraform-hubnetworking.yaml
  src/ALZ/Private/Config-Helpers/Convert-HCLVariablesToUserInputConfig.ps1
  src/ALZ/Private/Config-Helpers/Convert-InterfaceInputToUserInputConfig.ps1
  src/ALZ/Private/Config-Helpers/Get-AzureRegionData.ps1
  src/ALZ/Private/Config-Helpers/Request-ALZEnvironmentConfig.ps1
  src/ALZ/Private/Config-Helpers/Request-ConfigurationValue.ps1
  src/ALZ/Private/Config-Helpers/Write-TfvarsFile.ps1
  src/ALZ/Private/Config-Helpers/Write-TfvarsJsonFile.ps1
  src/ALZ/Private/Deploy-Accelerator-Helpers/Get-BootstrapAndStarterConfig.ps1
  src/ALZ/Private/Deploy-Accelerator-Helpers/Invoke-Terraform.ps1
  src/ALZ/Private/Deploy-Accelerator-Helpers/New-Bootstrap.ps1
  src/ALZ/Public/New-ALZEnvironment.ps1
  src/Tests/Unit/Private/Request-ConfigurationValue.Tests.ps1
  src/Tests/Unit/Public/New-ALZEnvironment.Tests.ps1
Labels: Type: Documentation :page_facing_up:, Area: Terraform Accelerator :alien:

#192 docs: Add notice for permissions propagation
  docs/wiki/[User-Guide]-Quick-Start-Phase-3.md
Labels: Type: Documentation :page_facing_up:

#198 chore: fix release process
  .github/workflows/Prerelease.yml
  .github/workflows/Release.yml
Labels: minor

#194 feat: Add updates for Bicep multi-region support
  docs/wiki/[User-Guide]-Starter-Module-Bicep-Complete.md
  docs/wiki/examples/powershell-inputs/inputs-azure-devops-bicep-complete.yaml
  docs/wiki/examples/powershell-inputs/inputs-github-bicep-complete.yaml
  docs/wiki/examples/powershell-inputs/inputs-local-bicep-complete.yaml
Labels: Type: Enhancement :sparkles:, IaC: Bicep
