Repository Azure/ALZ-PowerShell-Module, pull requests merged in 2024-01, with the labels that each got.

#96 feature: support `local` option for terraform
  src/ALZ/Private/New-ALZEnvironmentTerraform.ps1
  src/ALZ/Public/New-ALZEnvironment.ps1
Labels: enhancement

#97 bug: fix missing auto approve flag
  src/ALZ/Private/New-ALZEnvironmentTerraform.ps1
Labels: bug

#98 Change `git init` logic
  src/ALZ/Private/Test-ALZGitRepository.ps1
Labels: Type: Enhancement :sparkles:

#100 Add config file specific code
  src/ALZ/Private/Convert-HCLVariablesToUserInputConfig.ps1
  src/ALZ/Private/Import-ConfigurationFile.ps1
  src/ALZ/Private/New-ALZEnvironmentTerraform.ps1
  src/ALZ/Private/Request-ConfigurationValue.ps1
  src/ALZ/Private/Write-ConfigurationCache.ps1
  src/ALZ/Private/Write-TfvarsFile.ps1
Labels: enhancement
